@import url("https://fonts.googleapis.com/css2?family=Calistoga&family=Roboto:wght@300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Balsamiq+Sans:wght@400;700&display=swap");
@font-face {
  font-family: "Bernadette";
  src: local("Bernadette"), url(./Fonts/bernadette.ttf) format("truetype");
}
/* font-family: 'Calistoga', cursive;
font-family: 'Roboto', sans-serif;
font-family: 'Balsamiq Sans', cursive; */

* {
  padding: 0px;
  border: 0px;
  margin: 0px;
  box-sizing: border-box;
  outline: none;
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* AwesomeSlider css */
.aws-btn {
  --slider-height-percentage: 60%;
  --slider-transition-duration: 700ms;
  --organic-arrow-thickness: 4px;
  --organic-arrow-border-radius: 0px;
  --organic-arrow-height: 40px;
  --organic-arrow-color: #26456f;
  --control-button-width: 10%;
  --control-button-height: 25%;
  --control-button-background: transparent;
  --control-bullet-color: #2d5182;
  --control-bullet-active-color: #26456f;
  --loader-bar-color: #851515;
  --loader-bar-height: 6px;
}
.sectionHeading {
  /* font-family: 'Calistoga', cursive !important; */
  font-weight: 700 !important;
  font-family: "Noto Serif", serif !important;
  /* color: goldenrod !important; */
  /* font-family: "Roboto", sans-serif !important; */
  position: relative;
  display: inline-block;
  cursor: pointer;
  /* font-family: 'Balsamiq Sans', cursive !important; */
}
.sectionHeading::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 3px;
  background: gold;
  transition: all 200ms ease-in-out;
}
.sectionHeading:hover {
  color: white;
}
.sectionHeading:hover::after {
  height: 100%;
  z-index: -1;
}
.swal-button--confirm {
  background: goldenrod !important;
}